body{
    background-color: rgb(150, 142, 132);
}
.cartao{
    background: url(/Imagens/backgorund.png);
    background-size: cover;
    height: 200px;
    width: 400px;
    margin-top: 10px;
    margin-left: 30px;
}

#nome{
    padding: 13px;
    font-family:'Courier New', Courier, monospace;
    margin-top: 50px;
}

.insta{
    list-style-image: url(/Imagens/Insta.png);
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.twit{
    list-style-image: url(/Imagens/Twitter.png);
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.yout{
    list-style-image: url(/Imagens/Youtube.png);
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

